html,body{
    height: 100%;
}
.container_1{
    display: flex;
    margin: 2% 0 1% 2%;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.box_1{
    flex: 2;
}

.box_2{
    flex: 1;
    margin-right: 1%;
}

.box_3{
    flex:2;
}

#search{
    width: 100%;
}

nav{
    margin-bottom: 2%;
}

main{
    width: 60%;
    position: relative;
    min-height: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

main > h1 {
    text-align: center;
}

.container_2{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 4%;
}

.container_2 > div {
    flex: 1;
    border: 1px solid black;
}

.container_2 > div:hover {
    background-color: silver;
}
.container_3{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2em;
    border: 1px solid black;
    display: flex;
    padding: 5%;
    align-items: flex-start;
    flex-direction: column;
}

form > div {
    margin-bottom: 2%;
}

.company{
    height: 50px;
}

#money{
margin-right: 17em;
}

footer{
    height: 6%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: silver;
}

.container_4{
    margin: 0 auto;
    display: flex;
    padding: 5%;
}

.container_4 > div {
    margin-right: 4em;
}
table{
    margin-left: 0%;
    border-collapse: collapse;
    width: 70%;
    margin-bottom: 2%;
}
th, td{
    border: 1px solid black;
    text-align: left;
    padding-top: 5px;
}

.container_5{
    display: flex;
}

.container_5 :first-child{
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.container_6{
    display: flex;
}

.container_6 :first-child{
    margin-left: 5%;
    margin-bottom: 2%;
}

.info_element{
    border: 1px solid black;
}

.container_7{
    width: 80%;
    margin-bottom: 2em;
    display: flex;
    padding: 5%;
    flex-direction: column;
}

.container_7 > div {
    margin-bottom: 3%;
}

p{
    margin-left: 5%;
}

